.test, .imp {
  background-color: blue;
}

.ci {
	background-image: url('background.jpg');
}

.imp {
	padding: 3px;
}
div {
  color: #1875e7;
}

/* calculator */
body {
  margin: 7px;
  top: 150px;
  right: 240px;
}

/*nesting*/
.device .smartphone {
  border: 4px;
}
.device .smartphone div {
  background: black;
}

.device {
  border-color: blue;
}

.parent, .child {
  border: 1px solid black;
  font-size: 20px;
}

.child {
  font-size: 16px;
}

.special {
  background-color: red;
  border: 2px;
  margin-left: 20px;
}

.submit {
  padding: 5px 10px;
  border: 1px solid #336699;
  background: -moz-linear-gradient(top, #407fbf, #336699 100%);
  /*Moz*/
  background: -webkit-gradient(linear, center top, center bottom, from(#407fbf), color-stop(100%, #336699));
  /*Webkit*/
  background: -o-linear-gradient(top, #407fbf 0%, #336699 100%);
  /*Opera*/
  background: -ms-linear-gradient(top, #407fbf 0%, #336699 100%);
  /*IE 10+*/
  background: linear-gradient(top, #407fbf 0%, #336699 100%);
  /*W3C*/
  color: #fff;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
}

.imp {
  border: 30px dotted green;
  border: 20px solid red;
}
